:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  color: #C2C5AA;
  background-color: #333D29;


}

body {
  margin: 0;
  box-sizing: border-box;
}